[Desktop Entry]
Name=Proxygen
Comment=Media offloader and proxy generator for video editors
Icon=austincbrooks-proxygen
Exec=set by: os_debian_register_*
Terminal=false
Type=Application
Categories=AudioVideo
Keywords=offload;copy;optimized;proxy;archive;video
MimeType=application/vnd.austincbrooks.proxygen.project
